name: CI Pipeline

on:
  push:
    branches: [ "dev", "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Compile Java
      run: javac app/Main.java

    - name: Run app
      run: java -cp app Mains
